<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Esami</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
{% include 'questions/navbar.html' %}
<div class="container w-100">
    <div class="row justify-content-right">
        <div class="col-12 d-flex flex-row justify-content-center">
            <form action="{% url 'questions:exams' %}" method="post">
                {% csrf_token %}
                <label for="exam">Esame: </label><input type="text" name="exam" id="exam" required>

                <br>
                <label for="active">Abilitato: </label>
                <input type="checkbox" name="active" id="active" value="active" checked><br>


                <button class="btn btn-primary" type="submit" value="Insert">Inserisci</button>

            </form>
            {% if inserted %}
                <div id="inserted">Esame inserito con successo!</div>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-right">
        <div class="col-12 d-flex flex-row justify-content-center">

            <table class="table table-striped table-bordered w-100">

                <thead class="thead-light">
                <tr>
                    <th style="width: 33%">Esame</th>
                    <th style="width: 33%">Abilitato</th>
                    <th style="width: 33%">Azioni</th>
                </tr>
                </thead>
                <tbody>

                {% for exam in exams %}
                    <tr>
                        <td>{{ exam.exam_name }}</td>
                        <td>{{ exam.active }}</td>
                        <td>
                            <button class="btn btn-danger" onclick="editExam(this,'delete')" id='{{ exam.id }}'
                                    type="button">Cancella
                            </button>
                            <button class="btn btn-info" onclick="editExam(this,'enable')" id='{{ exam.id }}'
                                    type="button">Abilita/Disabilita
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
<form style="visibility: hidden" method="POST" action="{% url 'questions:exams' %}" id="hiddenForm">
    {% csrf_token %}
</form>
<script>
    function editExam(element, action) {
        var input = document.createElement('input');
        input.name = action;
        input.value = element.id;
        var form = document.getElementById("hiddenForm");
        form.appendChild(input);
        form.submit(); // send the payload and navigate
    }


</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>