<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inserisci domanda</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
{% include 'questions/navbar.html' %}
<div class="container w-100">
    <div class="row justify-content-right">
        <div class="col-12 d-flex flex-row justify-content-center">

            <form class="w-100" action="{% url 'questions:insert_question' %}" method="post">

                <div class="form-group-lg">
                    {% csrf_token %}
                    <label for="question">Domanda: </label><input type="text" class="form-control" name="question"
                                                                  id="question" required>
                    <label>
                        <select name="exam" required>
                            {% for exam in exams %}
                                <option value="{{ exam.id }}">{{ exam.exam_name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>

                <div class="form-group-lg">
                    <label for="answer1">Risposta 1: </label>
                    <input type="radio" name="correct" id="answer1" value="1" required>
                    <input type="text" class="form-control" name="answer1"
                           id="answer1" required>
                    <br>
                </div>
                <div class="form-group-lg">
                    <label for="answer2">Risposta 2: </label>
                    <input type="radio" name="correct" id="answer2" value="2" required>
                    <input type="text" class="form-control" name="answer2" id="answer2" required>
                    <br>
                </div>
                <div class="form-group-lg">
                    <label for="answer3">Risposta 3: </label>
                    <input type="radio" name="correct" id="answer3" value="3" required>
                    <input type="text" class="form-control" name="answer3" id="answer3" required>
                    <br>
                </div>
                <div class="form-group-lg">
                    <label for="answer4">Risposta 4: </label>
                    <input type="radio" name="correct" id="answer4" value="4" required>
                    <input type="text" class="form-control" name="answer4" id="answer4" required>
                    <br>
                </div>
                <div class="form-group-lg">
                    <button class="btn btn-primary" type="submit" value="Insert">Inserisci</button>
                </div>
                <div class="form-group-lg">
                    {% if inserted %}
                        <div id="inserted">Domanda inserita con successo!</div>
                    {% endif %}
                </div>
            </form>


        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
